{% extends "base.html" %}

{% block title %}{% endblock title %}

{% block logout %}{% endblock logout %}
{% block content %}


<div style="margin-left:auto;margin-right:auto;margin-top:3rem">
    <h3 style="text-align:center;margin-top:8rem;" class="text-secondary">Czy na pewno chcesz się wylogować?</h3>
    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <center><button style="margin-top: 3rem;" type="submit" class="btn btn-warning">Wyloguj</button></center>

    </form>
</div>
{% endblock content %}
