{% extends "base.html" %}

{% block title %}
Detale ofert polis na samochód
{% endblock title %}

{% block content %}
    <h1>Oto nasze propozycje polis na samochód, wybrane specjalnie dla Ciebie:</h1>

{#    <ul>#}
{#        {% for policy_type, policy_description in policy_descriptions.items %}#}
{#            <li>#}
{#            <div>Nazwa polisy: {{ policy_type }}</div>#}
{#            <div>Opis: {{ policy_description }}</div>#}
{#            <div><a href="{% url 'policy_car_create' %}">Kup ten wariant polisy na samochód</a></div>#}
{#            <div><hr></div></li>#}
{#        {% endfor %}#}
{#    </ul>#}

    <div><a href="{% url 'main_page' %}">Powrót do strony głównej</a></div>
{% endblock content %}