{% extends "base.html" %}

{% block title %}
Detale ofert polis na dom
{% endblock title %}

{% block content %}
<h2 style="text-align:center;margin-top:3rem;">Oto nasze propozycje polis dla nieruchomości wybrane specjalnie dla
    Ciebie:</h2>


<div class="accordion accordion-flush" id="accordionFlushExample"
     style="width:60%;margin-left:auto;margin-right:auto;margin-top:6rem;margin-bottom: 4rem;">
    {% for house_policy in house_policies %}
    <div class="accordion-item">
        <h2 class="accordion-header" id="heading{{forloop.counter}}">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapse{{forloop.counter}}" aria-expanded="false"
                    aria-controls="flush-collapse{{forloop.counter}}">
                {{ house_policy.policy_type }}
            </button>
        </h2>
        <div id="flush-collapse{{forloop.counter}}"
             class="accordion-collapse collapse"
             data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                {{ house_policy.policy_description }}
                <div style="text-align:center;margin-top: 3rem;">
                    <form action="{% url 'policy_house_create' %}" method="GET">
                        <input type="submit" class="btn btn-primary" style="width:20rem;" value="Poznaj ofertę">
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% empty %}
    <p class="text-danger" style="text-align:center;margin-top:2rem;">Brak dostępnych polis dla nieruchomości.</p>
    {% endfor %}
</div>

{% if house_policies %}
<h4 style="text-align:center;">Czy któraś z powyższych opcji Cię zainteresowała?</h4>

    <div style="text-align:center;margin-top: 5rem;">
        <form action="{% url 'policy_house_create' %}" method="GET">
            <input type="submit" class="btn btn-primary" style="width:20rem;" value="Dowiedz się więcej!">
        </form>

    </div>
{% endif %}

<div style="text-align:center;position:fixed;bottom:3rem;left:auto;right:auto;width:100%;">
    <div class="btn btn-light"><a style="text-decoration:none;" href="{% url 'main_page' %}">Powrót do strony głównej</a>
    </div>
</div>
{% endblock content %}



