{% extends 'base.html' %}

{% block title %}Dostępne polisy{% endblock title %}

{% block content %}
    <h2>Oferujemy następujące polisy:</h2>

    <h2>Polisy samochodowe:</h2>
    <ul>
        {% for offer in offer_list %}
            {% if offer.car_model %}
                <li>{{ offer.policy_name }}
                    <a href="{% url 'policy_car_create' %}">Kup polisę na samochód</a>
                </li>
            {% endif %}
        {% empty %}
            <li>Brak dostępnych polis samochodowych.</li>
        {% endfor %}
    </ul>

    <h2>Polisy na dom:</h2>
    <ul>
        {% for offer in offer_list %}
            {% if offer.house_area %}
                <li>Produkt: {{ offer.policy_name }}
                    <a href="{% url 'index' %}">Kup polisę na dom</a>  <!-- here will be policy_house_create -->
                </li>
            {% endif %}
        {% empty %}
            <li>Brak dostępnych polis na dom.</li>
        {% endfor %}
    </ul>
    <br>
    <div><a href="{% url 'index' %}">Powrót do strony głównej</a></div>
{% endblock %}