{% extends "base.html" %}

{% block title %}
    Podsumowanie wyceny:
{% endblock title %}

{% block content %}

    <h2> Podsumowanie wyceny:</h2>
    <p>Przeliczona cena: {{ calculated_price }} PLN</p>
    <p>Szczegółowy opis polisy: {{ policy_description }}</p>
    <ul>
        <li>Typ polisy: {{ car_policy.policy_type }}</li>
        <li>Marka i model pojazdu: {{ car_policy.car_mark_model }}</li>
        <li>Rok produkcji: {{ car_policy.production_year }}</li>
        <li>Typ paliwa: {{ car_policy.fuel_type }}</li>
        <li>Przebieg: {{ car_policy.mileage }} km</li>
        <li>Czy wynajmowane: {% if car_policy.is_rented %}Tak{% else %}Nie{% endif %}</li>
        <li>Liczba współwłaścicieli: {{ car_policy.number_of_owners }}</li>
    </ul>
    <form action="{% url 'policy_car_confirm' %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Zawrzyj umowę">
    </form>

    <div><a href="{% url 'policy_car_create' %}">Anuluj</a></div>

    <div style="text-align:center;margin-top:10rem;left:auto;right:auto;width:100%;">
        <div class="btn btn-light"><a style="text-decoration:none;" href="{% url 'main_page' %}">Powrót do strony
            głównej</a>
        </div>
    </div>
{% endblock content %}