{% extends "base.html" %}

{% block title %}
    Szczegóły polisy:
{% endblock title %}

{% block content %}
    <h2> Szczegóły polisy:</h2>
    <p>Numer polisy: {{ house_policy.policy_id }}</p>
    <p>Termin obowiązywania ochorny: {{ house_policy.valid_to }}</p>
    <p>Wysokość składki: "Do uzupełnienia przy ustaleniu logiki do przeliczenia składki" </p>
    <p>Typ domu: {{ house_policy.house_type }}</p>
    <p>Powierzchnia domu: {{ house_policy.house_area }}</p>
    <p>Miasto: {{ house_policy.house_city }}</p>
    <p>Wartość domu: {{ house_policy.house_value }}</p>
    <p>Liczba właścicieli: {{ house_policy.number_of_owners }}</p>


    <a href="{% url 'policy_list' %}">Sprawdż listę zawartych polis</a>


    <div><a href="{% url 'index' %}">Powrót do strony głównej</a></div>
{% endblock content %}