{% extends "base.html" %}

{% block title %}
Szczegóły polisy:
{% endblock title %}

{% block content %}

<div style="width:60%;margin-top:3rem;margin-left:auto;margin-right:auto;">
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Wymiar</th>
            <th scope="col">Wartość</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Numer polisy:</td>
            <td>{{ house_policy.policy_id }}</td>
        </tr>
        <tr>
            <td>Typ polisy:</td>
            <td>{{ house_policy.policy_type }}</td>
        </tr>
        <tr>
            <td>Szczegółowy opis polisy:</td>
            <td>{{ policy_description }}</td>
        </tr>
         <tr>
            <td>Termin obowiązywania ochrony:</td>
            <td>{{ house_policy.valid_to }}</td>
        </tr>
        <tr>
            <td>Wysokość składki:</td>
            <td>"Do uzupełnienia przy
            ustaleniu logiki do przeliczenia składki"</td>
        </tr>
        <tr>
            <td>Typ domu:</td>
            <td>{{ house_policy.house_type }}</td>
        </tr>
        <tr>
            <td>Powierzchnia domu:</td>
            <td>{{ house_policy.house_area }}m²</td>
        </tr>
        <tr>
            <td>Miasto:</td>
            <td>{{ house_policy.house_city }}</td>
        </tr>
        <tr>
            <td>Wartość domu:</td>
            <td>{{ house_policy.house_value }}PLN</td>
        </tr>
        <tr>
            <td>Liczba właścicieli:</td>
            <td>{{ house_policy.number_of_owners }}</td>
        </tr>
    </tbody>
</table>
</div>










<div style="text-align:center;">
    <button class="btn btn-info" style="margin-top: 2rem;">
        <a href="{% url 'policy_list' %}"
           style="text-decoration:none;color:white;">Sprawdź listę zawartych polis</a>
    </button>
</div>

<div style="text-align:center;position:fixed;bottom:3rem;left:auto;right:auto;width:100%;">
    <div class="btn btn-light"><a style="text-decoration:none;" href="{% url 'main_page' %}">Powrót do strony głównej</a>
    </div>
</div>
{% endblock content %}